.h1 {
  padding-top: 70px;
  color: #2196f3;
  font-weight: 12;
  text-decoration: underline;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  grid-gap: 3rem;

  .image {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }
  :hover {
    transform: scale(1.01, 1.01);
    cursor: pointer;
  }
}
