.h1 {
  padding-top: 70px;
  color: #2196f3;
  font-weight: 12;
  text-decoration: underline;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  grid-gap: 3rem;
  .item {
    height: 300px;
    width: 300px;
  }
}
