.h1 {
  padding-top: 70px;
  color: #2196f3;
  font-weight: 12;
  text-decoration: underline;
}

.container {
  align-items: center;
  justify-content: center;
  :hover {
    transform: scale(1.01, 1.01);
    cursor: pointer;
  }
}
